.main_container{
    padding: 2%;
}

h1{
    text-align: center;
    color: orange;
}

.container{
    text-align: center;
}

.card-img-top{
    list-style: none;
    padding: 2px;
    text-align: center;
    margin: 0 auto;
    height: 350px;
    width: 270px;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;

}

.card{
    width: 18rem;
}